atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes

git/gitconfig.symlink

emacs/emacs.d.symlink/elpa/
emacs/emacs.d.symlink/ac-comphist.dat
